@import '../../styles/utils/colors';

.selectionBox{
    position: relative;
    width: 160px;
    overflow: hidden;
    padding: 8px 8px 20px 8px;
    background-color: white;
    display: inline-block;
    border: solid 1px $elephant-paw;
    border-radius: 5px;
    text-align: center;
    &--image {display: block; width: inherit; padding-bottom: 8px;  }
    &--text {font-size: 1em; font-weight: 600;}
    input { position: absolute; left: 4px;}

    &--blue{
      background-color: #00B1FE;
    }
  
    &--red{
      background-color: #FE8A95;
    }
  
    &--orange{
      background-color:#FCA51E;
    }

    &--green{
      background-color:#30CC71;
    }
  }

